body {
  background: #1f1f1f;
}

p, a {
  font-family: 'Palanquin', sans-serif;
  color: #d4d4d4;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #1de840;
}

a:visited {
  color: #2b1de8;
}

h1, h3 {
  font-family: 'Palanquin', sans-serif;
}

#loader {
  z-index: 1;
  background: #0f0f0f;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#particles-js {
  z-index: -100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#interact {
  opacity: 50%;
  background: #414141;
  width: 20rem;
  height: 4rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 2%;
  z-index: 5;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#interact p {
  font-family: 'Palanquin', sans-serif;
  font-weight: 200;
  color: orange;
  margin-top: -.5rem;
  font-size: 40px;
  text-align: center;
}

@-webkit-keyframes glowin {
  0% {
    text-shadow: 0 0 0px yellow, 0 0 0px yellow, 0 0 0px yellowgreen;
  }
  100% {
    text-shadow: 0 0 7px yellow, 0 0 10px yellow, 0 0 18px yellowgreen;
  }
}

@keyframes glowin {
  0% {
    text-shadow: 0 0 0px yellow, 0 0 0px yellow, 0 0 0px yellowgreen;
  }
  100% {
    text-shadow: 0 0 7px yellow, 0 0 10px yellow, 0 0 18px yellowgreen;
  }
}

@-webkit-keyframes glowout {
  0% {
    text-shadow: 0 0 7px yellow, 0 0 10px yellow, 0 0 18px yellowgreen;
  }
  100% {
    text-shadow: 0 0 0px yellow, 0 0 0px yellow, 0 0 0px yellowgreen;
  }
}

@keyframes glowout {
  0% {
    text-shadow: 0 0 7px yellow, 0 0 10px yellow, 0 0 18px yellowgreen;
  }
  100% {
    text-shadow: 0 0 0px yellow, 0 0 0px yellow, 0 0 0px yellowgreen;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nopadding {
  padding: 0px;
}

#mute {
  background: transparent;
  outline: none;
  border: none;
  z-index: 69;
  position: absolute;
  left: 96%;
  top: 88%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#mute:hover {
  -webkit-animation: up 0.35s ease;
          animation: up 0.35s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#mute:not(:hover) {
  -webkit-animation: down 0.35s ease;
          animation: down 0.35s ease;
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
  100% {
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
}

@keyframes up {
  0% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
  100% {
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
  100% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}

@keyframes down {
  0% {
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
  100% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}

.rgb {
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(124deg, #1de840, #1ddde8, #2b1de8, #dd00f3);
  -webkit-animation: rainbow 5s ease infinite;
  -z-animation: rainbow 5s ease infinite;
  animation: rainbow 5s ease infinite;
}

.norm-zoom {
  background-size: 100% 100%;
}

.high-zoom {
  background-size: 800% 800%;
}

.center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.txt-align {
  text-align: center;
}

.down {
  margin-top: 10rem;
}

.txt-rotate {
  color: orange;
}

.title {
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  top: 9.688rem;
  font-size: 70px;
  letter-spacing: 5px;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-animation: fadeInAnimation ease-out 1s;
          animation: fadeInAnimation ease-out 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: #d4d4d4;
}

.bioBG {
  background: #00000096;
  max-width: 55rem;
  border: 2px solid #d4d4d4;
  border-radius: 50px;
  -webkit-animation: fadeInAnimation ease-out 1s;
          animation: fadeInAnimation ease-out 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.socials {
  position: relative;
  top: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: orange;
}

.link {
  margin: .7rem;
}

.link-button {
  position: relative;
  height: 3rem;
  width: 21rem;
  border-radius: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.75);
  -webkit-transition: -webkit-filter .2s ease;
  transition: -webkit-filter .2s ease;
  transition: filter .2s ease;
  transition: filter .2s ease, -webkit-filter .2s ease;
}

.link-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 4rem;
  width: 20rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-filter .2s ease;
  transition: -webkit-filter .2s ease;
  transition: filter .2s ease;
  transition: filter .2s ease, -webkit-filter .2s ease;
}

.link-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.8);
  font-weight: 200;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.link-text svg {
  -webkit-transition: -webkit-filter .3s ease-in;
  transition: -webkit-filter .3s ease-in;
  transition: filter .3s ease-in;
  transition: filter .3s ease-in, -webkit-filter .3s ease-in;
}

.wrapper-top {
  position: relative;
}

.wrapper-top p {
  margin: 1rem;
}

.wrapper-bottom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  left: 50%;
  top: 0rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 20px);
            transform: translate(-50%, 20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50%, 0px);
            transform: translateY(-50%, 0px);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 20px);
            transform: translate(-50%, 20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50%, 0px);
            transform: translateY(-50%, 0px);
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.747);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(41, 52, 71, 0.747);
}
/*# sourceMappingURL=style.css.map */